.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .logo{
    padding-right:100px;
  }

.logo-img{
    width: 250px;
}

h5.card-title {
 font-size: 2rem;
}

.card{
    background: #F2E7DC;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.card-body input{
    border:0.5px solid;
    opacity: 0.7;
}

.btn{
    width: 100%;
}

.footer-btn>.btn{
    margin: 0.25rem 0.125rem;
}