<div class="calibration-profile">
    <div *ngIf="!isShowChart">
        Occur Error Please , try again.
    </div>
    <!-- <p-chart *ngIf="isShowChart" type="line" [data]="basicData" [options]="basicOptions" width="100%" height="calc( 100% - 60px)"></p-chart> -->
    <div class="d-flex flex-column">
        <label>
            <h3>
                Parameter Device
            </h3>
        </label>
        <div class="d-flex flex-row calibrate-detail">
            <p-chart *ngIf="isShowChart" type="line" [data]="basicData" [options]="basicOptions" width="740px" height="340px"></p-chart>
            <div *ngIf="isShowChart && calibrate_item" class="px-3">
                <div>
                    <label>
                        <h4>
                        Date : {{CalibrateDetailFormatDate(calibrate_item.created_at || "")}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                        Time : {{CalibrateDetailFormatTime(calibrate_item.created_at || "")}}
                        </h4>
                    </label>
                </div>
    
                <div class="pt-2">
                    <label>
                        <h4>
                            Gas 1 : {{calibrate_item.gas_1 || ""}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                            Gas 2 : {{calibrate_item.gas_2}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                            Gas 3 : {{calibrate_item.gas_3}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                            Gas 4 : {{calibrate_item.gas_4}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                            Gas 5 : {{calibrate_item.gas_5}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                            Gas 6 : {{calibrate_item.gas_6}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                            Gas 7 : {{calibrate_item.gas_7}}
                        </h4>
                    </label>
                </div>
    
                 <div class="pt-2">
                    <label>
                        <h4>
                            Temp : {{calibrate_item.temp}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                            Pressure : {{calibrate_item.pressure}} 
                        </h4>
                    </label>
                </div>
    
                <div class="pt-2">
                    <label>
                        <h4>
                        Time : {{(calibrate_time/1000).toFixed()}} Seconds
                        </h4>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isShowChart" class="pt-2">
        <div *ngIf="calibrateStatus == CalibrateStatus.Calibrate" class="card text-center justify-content-center" (click)="onClickStopCalibration()">
            <label>
                <h1>
                    STOP CALIBRATION PARAMETER
                </h1>
            </label>
        </div>
        <div *ngIf="calibrateStatus == CalibrateStatus.Finish" class="card text-center justify-content-center" (click)="onClickFinishProcess()">
            <label>
                <h1>
                    FINISH PROCESS
                </h1>
            </label>
        </div>
    </div>
</div>