<div class="calibration-profile">
    <div *ngIf="!isShowChart">
        Occur Error Please , try again.
    </div>
    <!-- <p-chart *ngIf="isShowChart" type="line" [data]="basicData" [options]="basicOptions" width="100%" height="calc( 100% - 60px)"></p-chart> -->
    <div class="d-flex flex-column">
        <label>
            <h3>
                Parameter Device
            </h3>
        </label>
        <div class="d-flex flex-row calibrate-detail">
            <p-chart *ngIf="isShowChart" type="bar" [data]="basicData" [options]="basicOptions" width="880px" height="calc(100%)"></p-chart>
            <div *ngIf="isShowChart" class="px-3 pt-4">
                <div>
                    <label>
                        <h4>
                        Date : {{CalibrateDetailFormatDate(calibrate_profile.created_at || "")}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                        Time : {{CalibrateDetailFormatTime(calibrate_profile.created_at || "")}}
                        </h4>
                    </label>
                </div>
    
                <div class="pt-3">
                    <label>
                        <h4>
                        Avg Gas1 : {{calibrate_profile.avg_gas_1}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                        Avg Gas2 : {{calibrate_profile.avg_gas_2}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                        Avg Gas3 : {{calibrate_profile.avg_gas_3}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                        Avg Gas4 : {{calibrate_profile.avg_gas_4}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                        Avg Gas5 : {{calibrate_profile.avg_gas_5}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                        Avg Gas6 : {{calibrate_profile.avg_gas_6}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                        Avg Gas7 : {{calibrate_profile.avg_gas_7}}
                        </h4>
                    </label>
                </div>
    
                 <div class="pt-5">
                    <label>
                        <h4>
                        Avg Temp : {{calibrate_profile.avg_temp}}
                        </h4>
                    </label>
                    <br>
                    <label>
                        <h4>
                        Avg Pressure : {{calibrate_profile.avg_pressure}} 
                        </h4>
                    </label>
                </div>
    
                <div class="pt-3">
                <label>
                        <h4>
                        Total Item : {{calibrate_profile.count_calibrate_items}}
                        </h4>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isShowChart">
        <div *ngIf="CalibrateStatus.Calibrate" class="card text-center justify-content-center" (click)="onClickStopCalibration()">
            <label>
                <h1>
                    STOP CALIBRATION PARAMETER
                </h1>
            </label>
        </div>
        <div *ngIf="CalibrateStatus.Finish" class="card text-center justify-content-center" (click)="onClickStopCalibration()">
            <label>
                <h1>
                    FINISH PROCESS
                </h1>
            </label>
        </div>
    </div>
</div>