.container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: none;
    padding:0px;
}

main{
    margin-top: 60px;
    height: calc(100vh);
    width: 100%;
}

main .card{
    margin-top: 20px;
    border-radius: 25px;
    height: calc((100vh - 120px - 70px)/1);
    //margin-top: 10px;
    //margin-bottom: 10px;
    background-color: #F2E7DC !important;
    border-color: #0D0D0D !important;
    //box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    padding:15px 30px;
}

main .card header h3{
    font-size: 1.5rem;
}
main .card header h4{
    font-size: 1rem;
    font-weight: lighter;
}

#action>button{
    margin-right:10px;
}

tbody, td, tfoot, th, thead, tr{
    background-color: #F2E7DC !important;
}
td,th{
    text-align: left !important;
    border: 1px solid #0D0D0D !important;
    padding: 1rem 1rem !important;
}

@media (min-width: 1200px)
{
    .container {
        padding: 0px 10vw;
    }
}