<div class="container d-flex flex-column">
    <div class="p-5"> 
        <!-- position-absolute top-25px start-50 translate-middle-x -->
        <div class="card card-device">
            <div class="d-flex flex-row">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center h-100">
                        <label class="">
                            Username : {{CurrentUser.username}}
                        </label>
                    </div>
                    <div class="d-flex align-items-center h-100 pt-2">
                        <label class="">
                            Device : {{CurrentDevice.name}}
                        </label>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div>
                        <button type="button" class="btn btn-danger" (click)="onClickLogout()">Logout</button>
                    </div>
                    <div class="pt-2">
                        <button type="button" class="btn btn-warning" (click)="onClickSwitch()">Switch</button>
                    </div>
                </div>
            </div>
            <!-- <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <label>
                        {{CurrentUser.username}}
                    </label>
                    <div>
                        <button type="button" class="btn btn-danger" (click)="onClickLogout()">Logout</button>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <label>
                        {{CurrentDevice.name}}
                    </label>
                    <div>
                        <button type="button" class="btn btn-warning" (click)="onClickLogout()">Switch</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div #elemt class="d-flex justify-content-between w-100 card-container">
        <article class="card card-module module-process" (click)="onClickMobule('testing')">
            <header>
                Header
            </header>
            <main>
                <article>
                    <header class="text-end">
                        <label>
                            <h5>
                                START TESTING
                            </h5>
                        </label>
                    </header>
                    <main class="">
                        <label>
                            - Create Case
                        </label>
                        <br>
                        <label> 
                            - Enter a sample
                        </label>
                        <br>
                        <label>
                            - Analyze Data
                        </label>
                    </main>
                </article>
            </main>
        </article>
        <article class="card card-module module-dashboard" (click)="onClickMobule('dashboard')">
            <header>
                Header
            </header>
            <main>
                <article>
                    <header class="text-end">
                        <label>
                            <h5>
                                GO TO DASHBOARD
                            </h5>
                        </label>
                    </header>
                    <main>
                    </main>
                </article>
            </main>
        </article>
        <article class="card card-module module-guide" (click)="onClickMobule('guide')">
            <header>
                Header
            </header>
            <main>
                <article>
                    <header class="text-end">
                        <label>
                            <h5>
                                QUICK GUIDE
                            </h5>
                        </label>
                    </header>
                    <main class="text-end">
                        <label>
                            Explore our powerful 
                            documentation
                        </label>
                    </main>
                </article>
            </main>
        </article>
        <!-- (click)="onClickMobule('my-account')" -->
        <article class="card card-module module-account">
            <header>
                Header
            </header>
            <main>
                <article>
                    <header class="text-end">
                        <label>
                            <h5>
                                MY ACCOUNT
                            </h5>
                        </label>
                    </header>
                    <main>
                    </main>
                </article>
            </main>
        </article>
    </div>
    <app-footer></app-footer>
</div>

<p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width:'800px'}" [baseZIndex]="-100"
    [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <div class="text-center w-100">
            <label>
                <h3>
                    Devices
                </h3>
            </label>
        </div>
    </ng-template>
    <ng-template pTemplate="body">
        <div *ngIf="IsDialogLoading" class="h-100">
            <label class="d-flex align-items-center loading h-100">
                <h4 class="m-auto">
                    Loading . . .
                </h4>
            </label>
        </div>
        <div *ngIf="!IsDialogLoading" class="flex-column">
            <div *ngFor="let device of Devices" class="card device p-3">
                <div class="d-flex flex-row w-100 py-2 px-3">
                    <label class="d-flex align-items-center">
                        <h4 class="m-auto">
                            {{device.name}}
                        </h4>
                    </label>
                    <div class="ms-auto">
                        <button pButton pRipple type="button" label="Switch" class="p-button-raised btn-primary" (click)="onClickConnect(device.mac_serial_no)"></button>
                        <!-- <button pButton pRipple type="button" label="Other" class="p-button-raised"></button> -->
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
    </ng-template>
</p-dialog>