.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: calc(100vw - 20px);
}

.card-container{
    overflow-x: scroll;
    padding-bottom:85px;
}

.card-container::-webkit-scrollbar {
    width: 1em;
}
 
.card-container::-webkit-scrollbar-track {
    background-color: #0D0D0D;
    border-radius: 100px;
    margin: 25vw;
}

.card-container::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: rgba(78, 78, 78, 0.8);
    background-clip: content-box;
}

div>.card-module:first-child{
    margin-left:0px;
}

div>.card-module{
    margin-left:20px;
}

.card-device{
    padding: 10px 25px;
    border-radius: 25px;
    position: relative;
    background-color: rgb(0, 0, 0,0.4);
}
// .card-device>div>label{
//     margin-top:10px;
// }
// .card-device>div>label:last-child{
//     margin-top:0px;
// }
// .card-device>div button{
//     margin-top:10px;
// }
// .card-device>div button:last-child{
//     margin-top:0px;
// }

.card-device label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:25px;
    color:#e2e2e2;
}

.card-device button{
    border-radius: 25px;
    width: 80px;
}

.card-module{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: calc(25% - 20px);
    min-width: calc(300px - 20px);
    max-width: calc(300px - 20px);
    height: calc(100vh - 200px - 200px);
}
.card-module:hover{
    cursor: pointer;
}
.card-module h5{
    font-weight: bold;
}
.card-module label:hover{
    cursor: pointer;
}
.card-module>header{
    height: 60%;
}
.card-module>main{
    height: 40%;
}

.card-module>main>article>main{
    padding-top:1.5rem;
}

.module-process{
    background-color: #F2E7DC;
    background-image: var(--bs-gradient);
    padding:15px 25px;
    opacity: 0.9;
}
.module-process:hover{
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
}

.module-dashboard{
    background-color: #F2E7DC;
    background-image: var(--bs-gradient);
    padding:15px 25px;
    opacity: 0.9;
}
.module-dashboard:hover{
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
}
.module-guide{
    background-color: #F2E7DC;
    background-image: var(--bs-gradient);
    padding:15px 25px;
    opacity: 0.9;
}
.module-guide:hover{
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
}
.module-account{
    background-color: #F2E7DC;
    background-image: var(--bs-gradient);
    padding:15px 25px;
    opacity: 0.9;
}
.module-account:hover{
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
}

:host {
    ::ng-deep{
        .p-dialog{
            border-radius: 20px !important;
            //background-color: rgba(0, 0, 0, 0.5) !important;
        }
        .p-dialog .p-dialog-header {
            border-radius: 20px 20px 0px 0px !important;
            background-color: #F2E7DC !important;
        }  
        .p-dialog .p-dialog-header .p-dialog-header-icon{
            color:#0D0D0D !important;
        }
        .p-dialog .p-dialog-header .p-dialog-header-icon:hover{
            color:#0D0D0D !important;
            background-color: #F2E7DC !important;
            border:2px solid #0D0D0D !important;
        }
        .p-dialog .p-dialog-header label{
            color: #0D0D0D !important;
        }  
        .p-dialog .p-dialog-body,.p-dialog-content {
            min-height: 400px;
            padding:0px calc(1.5rem + 32px) 2rem calc(1.5rem) !important;
            background-color: #F2E7DC !important;
        }  
        .p-dialog label.loading{
            color: #0D0D0D !important;
        }
        .p-dialog .p-dialog-footer {
            border-radius: 0px 0px 20px 20px !important;
            background-color: #F2E7DC !important;
        }  
        .p-dialog .device{
            margin-bottom: 10px !important;
            background-color: #EDCDAD !important;
            border: 0.5px solid #000000;
            box-shadow: inset 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
        }
        .p-dialog .device:last-child{
            margin-bottom: 0px !important;
        }
        .p-dialog .device button{
            margin-right: 5px !important;
            border-radius: 25px;
            padding:10px 20px;
        }
        .p-dialog .device button:last-child{
            margin-bottom: 0px !important;
        }
    }   
}

@media (min-width:1200px){
    .container {
        //max-width: 1200px;
        padding: 0px 10vw;
    }

    .card-container::-webkit-scrollbar-track {
        margin: 100vw;
    }

    .card-module{
        max-width: calc(25% - 2vw);
    }
}