.logo{
    display: flex;
    flex-direction: row;
    max-width: 300px;
    max-height: 80px;
    margin-left:50px;
    margin-top:30px;
}

.logo img{
    width: 70px;
}

.logo .title{
    min-width: 230px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 15px;
    justify-content: center;
}
.logo .title h1{
    font-size: 1.5rem;
    margin-bottom:0px;
    color: #038C7F;
}
.logo .title h2{
    font-size: 1rem;
    margin-bottom:0px;
    color: #fffbfb;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: calc(100vw - 20px);
}

.card-container{
    overflow-x: scroll;
}

.card-container::-webkit-scrollbar {
    width: 1em;
}
 
.card-container::-webkit-scrollbar-track {
    background-color: #0D0D0D;
    border-radius: 100px;
    margin: 25vw;
}

.card-container::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: rgba(78, 78, 78, 0.8);
    background-clip: content-box;
}

div>.card-module:first-child{
    margin-left:0px;
}

div>.card-module{
    margin-left:20px;
}

.card-device{
    padding: 10px 25px;
    border-radius: 25px;
    position: relative;
    background-color: rgb(0, 0, 0,0.4);
}
// .card-device>div>label{
//     margin-top:10px;
// }
// .card-device>div>label:last-child{
//     margin-top:0px;
// }
// .card-device>div button{
//     margin-top:10px;
// }
// .card-device>div button:last-child{
//     margin-top:0px;
// }

.card-device label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:25px;
    color:#e2e2e2;
}

.card-device button{
    border-radius: 25px;
    width: 80px;
}

.card-module{
    background: #FFFFFF;
    box-shadow: 2px 5px 10px rgb(0 0 0 / 15%);
    border-radius: 15px;
    width: calc(25%);
    height: calc(400px);
    border-width: 0px;
}
.card-module:hover{
    cursor: pointer;
}
.card-module h5{
    font-weight: bold;
}
.card-module label:hover{
    cursor: pointer;
}
.card-module>header{
    //height: 60%;
}
.card-module>main{
    //height: 40%;
    height: 100%;
}
.card-module>footer{
    padding:0.5rem 1rem 0.2rem 0.5rem;
    color:#027373;
}

.card-module>main>article>main{
    padding-top:1.5rem;
}

.module-process{
    background-color: #e1d6cb;
    background-image: var(--bs-gradient);
    //padding:15px 25px;
    opacity: 0.9;
}
.module-process main{
    background-image: url(/assets/photoes/start-test@3x.png);
    background-image: url(/assets/photoes/start-test@3x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 15px 15px 0px 0px;
}
// .module-process:hover{
//     box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
// }

.module-dashboard{
    background-color: #e1d6cb;
    background-image: var(--bs-gradient);
    //padding:15px 25px;
    opacity: 0.9;
}
.module-dashboard main{        
    background: url(/assets/photoes/dashboard@3x.png) , linear-gradient(to bottom, #50b6f1, #2977b8);
    background: url(/assets/photoes/dashboard@3x.webp) , linear-gradient(to bottom, #50b6f1, #2977b8);
    background-size: 75% 65% , 100% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 15px 15px 0px 0px;
}
// .module-dashboard:hover{
//     box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
// }
.module-guide{
    background-color: #e1d6cb;
    background-image: var(--bs-gradient);
    //padding:15px 25px;
    opacity: 0.9;
}
.module-guide main{
    background: url(/assets/photoes/asset1@3x.png);
    background: url(/assets/photoes/asset1@3x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-position-y: center;
    border-radius: 15px 15px 0px 0px;
}
// .module-guide:hover{
//     box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
// }
.module-account{
    background-color: #e1d6cb;
    background-image: var(--bs-gradient);
    //padding:15px 25px;
    opacity: 0.9;
}
.module-account main{
    background: url(/assets/photoes/acc@3x.png);
    background: url(/assets/photoes/acc@3x.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 30%;
    background-position-y: center;
    border-radius: 15px 15px 0px 0px;
}
// .module-account:hover{
//     box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
// }

:host {
    ::ng-deep{
        .p-dialog{
            border-radius: 20px !important;
            //background-color: rgba(0, 0, 0, 0.5) !important;
        }
        .p-dialog .p-dialog-header {
            border-radius: 20px 20px 0px 0px !important;
            background-color: #F2E7DC !important;
        }  
        .p-dialog .p-dialog-header .p-dialog-header-icon{
            color:#0D0D0D !important;
        }
        .p-dialog .p-dialog-header .p-dialog-header-icon:hover{
            color:#0D0D0D !important;
            background-color: #F2E7DC !important;
            border:2px solid #0D0D0D !important;
        }
        .p-dialog .p-dialog-header label{
            color: #0D0D0D !important;
        }  
        .p-dialog .p-dialog-body,.p-dialog-content {
            min-height: 400px;
            margin-top:-1px;
            padding:0px calc(1.5rem + 32px) 2rem calc(1.5rem) !important;
            background-color: #F2E7DC !important;
        }  
        
        .p-dialog-content::-webkit-scrollbar-track {
            background-color: rgba(49, 49, 49, 0.25);
            border-radius: 100px;
            margin-top: 70px;
            margin-bottom: 100px;
        }
        
        .p-dialog-content::-webkit-scrollbar-thumb {
            border: 5px solid transparent;
            border-radius: 100px;
            background-color: rgba(78, 78, 78, 0.8);
            background-clip: content-box;
        }

        .p-dialog label.loading{
            color: #0D0D0D !important;
        }
        .p-dialog .p-dialog-footer {
            border-radius: 0px 0px 20px 20px !important;
            background-color: #F2E7DC !important;
        }  
        .p-dialog .device{
            margin-bottom: 10px !important;
            background-color: #EDCDAD !important;
            border: 0.5px solid #000000;
            box-shadow: inset 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
        }
        .p-dialog .device:last-child{
            margin-bottom: 0px !important;
        }
        .p-dialog .device button{
            margin-right: 5px !important;
            border-radius: 25px;
            padding:10px 20px;
        }
        .p-dialog .device button:last-child{
            margin-bottom: 0px !important;
        }


        .p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next{
            background-color: rgb(0, 0, 0,0.5);
            color:white;
        }
        .p-carousel .p-carousel-content .p-carousel-prev:enabled:hover, .p-carousel .p-carousel-content .p-carousel-next:enabled:hover{
            background-color: rgb(0, 0, 0,0.7) !important;
            color:white !important;;
        }
        .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
            background-color: rgba(0, 0, 0, 1) !important;
        }

        .p-carousel .p-carousel-indicators .p-carousel-indicator button{
            background-color: rgb(0, 0, 0,0.5);
        }
    }   
}

@media (min-width:1200px){
    .container {
        max-width: 1200px;
        padding: 0px 100px;
    }

    .card-container::-webkit-scrollbar-track {
        margin: 100vw;
    }

    .card-module{
        max-width: calc(25%);
    }
}