<div class="position-absolute top-25px start-50 translate-middle-x">
    <div class="card card-device">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column">
                <div class="d-flex align-items-center h-100">
                    <label class="">
                        Username : {{CurrentUser.username}}
                    </label>
                </div>
                <div class="d-flex align-items-center h-100 pt-2">
                    <label class="">
                        Device : {{CurrentDevice.name}}
                    </label>
                </div>
            </div>
            <div class="d-flex flex-column">
                <div>
                    <button type="button" class="btn btn-danger" (click)="onClickLogout()">Logout</button>
                </div>
                <div class="pt-2">
                    <button type="button" class="btn btn-warning" (click)="onClickSwitch()">Switch</button>
                </div>
            </div>
        </div>
        <!-- <div class="d-flex flex-column">
            <div class="d-flex flex-row">
                <label>
                    {{CurrentUser.username}}
                </label>
                <div>
                    <button type="button" class="btn btn-danger" (click)="onClickLogout()">Logout</button>
                </div>
            </div>
            <div class="d-flex flex-row">
                <label>
                    {{CurrentDevice.name}}
                </label>
                <div>
                    <button type="button" class="btn btn-warning" (click)="onClickLogout()">Switch</button>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="container">
    <div #elemt class="d-flex justify-content-between w-100 card-container">
        <article class="card card-module module-process" (click)="onClickMobule('testing')">
            <header>
                Header
            </header>
            <main>
                <article>
                    <header class="text-end">
                        <label>
                            <h5>
                                START TESTING
                            </h5>
                        </label>
                    </header>
                    <main class="">
                        <label>
                            - Create Case
                        </label>
                        <br>
                        <label> 
                            - Enter a sample
                        </label>
                        <br>
                        <label>
                            - Analyze Data
                        </label>
                    </main>
                </article>
            </main>
        </article>
        <article class="card card-module module-dashboard" (click)="onClickMobule('dashboard')">
            <header>
                Header
            </header>
            <main>
                <article>
                    <header class="text-end">
                        <label>
                            <h5>
                                GO TO DASHBOARD
                            </h5>
                        </label>
                    </header>
                    <main>
                    </main>
                </article>
            </main>
        </article>
        <article class="card card-module module-guide" (click)="onClickMobule('guide')">
            <header>
                Header
            </header>
            <main>
                <article>
                    <header class="text-end">
                        <label>
                            <h5>
                                QUICK GUIDE
                            </h5>
                        </label>
                    </header>
                    <main class="text-end">
                        <label>
                            Explore our powerful 
                            documentation
                        </label>
                    </main>
                </article>
            </main>
        </article>
        <article class="card card-module module-account" (click)="onClickMobule('my-account')">
            <header>
                Header
            </header>
            <main>
                <article>
                    <header class="text-end">
                        <label>
                            <h5>
                                MY ACCOUNT
                            </h5>
                        </label>
                    </header>
                    <main>
                    </main>
                </article>
            </main>
        </article>
    </div>
</div>
<app-footer></app-footer>