<article class="card d-flex flex-column mx-auto"> 
  <header class="d-flex justify-content-between">
    Logo
  </header>
  <main [ngSwitch]="mode">
    <div *ngSwitchCase="1" class="d-flex flex-column menu-init h-100">
      <aside class="position-absolute">
        <button (click)="onClickBack()">
          <fa-icon class="fa-5x" icon="circle-chevron-left"></fa-icon>
        </button>
      </aside>
    </div>
    <div *ngSwitchCase="2" class="menu-calibration h-100">
      <aside class="position-absolute">
        <button (click)="onClickBack()">
          <fa-icon class="fa-5x" icon="circle-chevron-left"></fa-icon>
        </button>
      </aside>
    </div>
    <div *ngSwitchCase="3" class="menu-cleaning h-100">
      <aside class="position-absolute">
        <button (click)="onClickBack()">
          <fa-icon class="fa-5x" icon="circle-chevron-left"></fa-icon>
        </button>
      </aside>
    </div>
    <div *ngSwitchCase="4" class="h-100 menu-collecting-data">
      <aside class="position-absolute">
        <button (click)="onClickBack()">
          <fa-icon class="fa-5x" icon="circle-chevron-left"></fa-icon>
        </button>
      </aside>
      <app-collecting-data></app-collecting-data>
    </div>
    <div *ngSwitchDefault class="d-flex flex-column menu-testing h-100">
      <aside class="position-absolute">
        <button (click)="onClickHome()">
          <fa-icon class="fa-3x" icon="home"></fa-icon>
        </button>
      </aside>
      <div class="d-flex flex-row h-50">
        <div class="w-100">
          <div class="card w-100 h-100 text-center init justify-content-center h-100" (click)="onClickCheckDeviceInit()">
            <fa-icon class="fa-5x" icon="list-check"></fa-icon>
            <label>
              CHECK DEVICE INIT
            </label>
          </div>
        </div>
        <div class="w-100">
          <div class="card w-100 h-100 text-center calibate justify-content-center h-100" (click)="onClickCalibration()">
            <fa-icon class="fa-5x" icon="magnifying-glass-chart"></fa-icon>
            <label>
              CALIBRATION
            </label>
          </div>
        </div>
        <div class="w-100">
          <div class="card w-100 h-100 text-center cleaning justify-content-center h-100" (click)="onClickCleaning()">
            <fa-icon class="fa-5x" icon="hand-sparkles"></fa-icon>
            <label>
              CLEANING
            </label>
          </div>
        </div>
      </div>
      <div class="h-50 d-flex align-items-center">
        <div class="card w-100 h-100 text-center start-process justify-content-center h-100" (click)="onClickCollectingData()">
          <fa-icon class="fa-10x" icon="flask-vial"></fa-icon>
          <label>
            START PROCESS COLLECTING DATA
          </label>
        </div>
      </div>
    </div>
  </main>
  <footer class="d-flex">
    Footer
  </footer>
</article>