article{
  width:80vw;
  margin-top:calc(50vh - (80vh / 2));
  height: 80vh;
  padding: 2rem;
  background-color: #F2E7DC;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 15%);
  border-radius: 15px;
}

header{
  height: 5%;
}

main{
  height: 90%;
}

main aside{
  left:-120px;
  top:0px;
}
main aside button{
  border: 0px;
}


main .menu-check-init{
  margin-right:10px;
}
main .menu-check-init>div{
  padding-bottom:10px;
}
main .menu-check-init>div>div{
  margin-right:10px;
}
main .menu-check-init>div>div:first-child{
  margin-left:40px;
}
main .menu-check-init>div>div:last-child{
  margin-right:40px;
}
main .menu-check-init:last-child{
  margin-right:0px;
}
main .menu-check-init aside{
  top:20px !important;
}
main .menu-check-init aside button{
  opacity: 0.7 !important;
  border: 0px !important;
  background-color: #A9D9D0;
  color:#0D0D0D;
}

main .menu-testing{
  margin-right:10px;
}
main .menu-testing>div{
  padding-bottom:10px;
}
main .menu-testing>div>div{
  margin-right:10px;
}
main .menu-testing>div>div:first-child{
  margin-left:40px;
}
main .menu-testing>div>div:last-child{
  margin-right:40px;
}
main .menu-testing:last-child{
  margin-right:0px;
}
main .menu-testing aside{
  top:20px !important;
}
main .menu-testing aside button{
  opacity: 0.7 !important;
  border: 5px solid !important;
  border-radius: 100px !important;
  padding-left: 15px !important;
  padding-bottom: 8px !important;
  padding-right: 15px !important;
  background-color: #A9D9D0;
  color:#0D0D0D;
}
main .menu-testing .card fa-icon{
  font-size: 5rem;
}
main .menu-calibration aside button{
  opacity: 0.7 !important;
  background-color: #A9D9D0;
  color:#0D0D0D;
}
main .menu-cleaning aside button{
  opacity: 0.7 !important;
  background-color: #A9D9D0;
  color:#0D0D0D;
}
main .menu-collecting-data aside button{
  opacity: 0.7 !important;
  background-color: #A9D9D0;
  color:#0D0D0D;
}

.menu-testing aside button fa-icon{
  // filter: invert(21%) sepia(88%) saturate(2604%) hue-rotate(165deg) brightness(90%) contrast(98%);
}

.init{
  background-color: #2d86b5;
  color: white;
  border: 10px solid #004870;
  text-shadow: 2px 2px 3px rgb(13, 13, 13,0.4);
}
.init fa-icon{
  filter: drop-shadow(3px 3px 2px rgb(13, 13, 13,0.5));
}
.init:hover{
  cursor: pointer;
}

.calibate{
  background-color: #c7ba2e;
  color: white;
  border: 10px solid #8a7e00;
  text-shadow: 2px 2px 3px rgb(13, 13, 13,0.4);
}
.calibate:hover{
  cursor: pointer;
}
.calibate fa-icon{
  filter: drop-shadow(3px 3px 2px rgb(13, 13, 13,0.5));
}

.cleaning{
  background-color: #db803b;
  color: white;
  border: 10px solid #924002;
  text-shadow: 2px 2px 3px rgb(13, 13, 13,0.4);
}
.cleaning fa-icon{
  filter: drop-shadow(3px 3px 2px rgb(13, 13, 13,0.5));
}
.cleaning:hover{
  cursor: pointer;
}

.start-process{
  background-color: #038C7F;
  color: white;
  border: 10px solid #027373;
  text-shadow: 2px 2px 3px rgb(13, 13, 13,0.4);
}
.start-process span{
  height: 80%;
}
.start-process label{
  height: 20%;
}
.start-process fa-icon{
  filter: drop-shadow(3px 3px 2px rgb(13, 13, 13,0.5));
}
.start-process:hover{
  cursor: pointer;
}

footer{
  height: 5%;
}