p-chart{
  min-height: 100%;
  width: 100%;
}

article{
  width:80vw;
  max-width: 1100px;
  margin-top: calc(50vh - 280px - 30px);
  //margin-top: 5vh;
  //margin-top:calc(50vh - (80vh / 2));
  height: 80vh;
  max-height: 560px;
  padding: 1.5vmax;
  background-color: #F2E7DC;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 15%);
  border-radius: 15px;
}

header{
  //height: 5%;
  padding-bottom: 5px;
}
header>div>div{
 width: calc(100% / 4);
 padding:5px;
}
header>div>div:first-child{
  padding-left:40px;
}
header>div>div:last-child{
  padding-right:40px;
}
header label h3{
  font-size: 1rem;
  margin-bottom: 0px;
}
header label h4{
  font-size: 1rem;
  font-weight: 400;
  margin-left: 5px;
  color:gray;
  margin-bottom: 0px;
}
header .calibrate-date label:hover{
  cursor : pointer !important;
}

main{
  height: 90%;
  max-height: 90%;
  overflow-y: hidden;
}

main aside{
  left:-120px;
  top:0px;
}
main aside button{
  border: 0px;
}


main .menu-check-init{
  margin-right:10px;
}
main .menu-check-init>div{
  padding-bottom:10px;
}
main .menu-check-init>div>div{
  margin-right:10px;
}
main .menu-check-init>div>div:first-child{
  margin-left:40px;
}
main .menu-check-init>div>div:last-child{
  margin-right:40px;
}
main .menu-check-init:last-child{
  margin-right:0px;
}
main .menu-check-init aside{
  top:20px !important;
}
main .menu-check-init aside button{
  opacity: 0.7 !important;
  border: 0px !important;
  background-color: #A9D9D0;
  color:#0D0D0D;
}

main .menu-testing{
  margin-right:10px;
}
main .menu-testing>div{
  padding-bottom:10px;
}
main .menu-testing>div>div{
  margin-right:10px;
}
main .menu-testing>div>div:first-child{
  margin-left:40px;
}
main .menu-testing>div>div:last-child{
  margin-right:40px;
}
main .menu-testing:last-child{
  margin-right:0px;
}
main .menu-testing aside{
  //top:20px !important;
}
main .menu-testing aside button{
  // opacity: 0.7 !important;
  // border: 5px solid !important;
  // border-radius: 100px !important;
  // padding-left: 15px !important;
  // padding-bottom: 8px !important;
  // padding-right: 15px !important;
  // background-color: #A9D9D0;
  // color:#0D0D0D;

  opacity: 0.6 !important;
  margin-top: 9.5vh;
  background: 0;
  color: #0D0D0D;
}
main .menu-testing aside button fa-icon{
  font-size:3vmax;
}

main .menu-testing .card fa-icon{
  font-size: 10vmin;
}
main .menu-calibration aside button{
  opacity: 0.7 !important;
  background-color: #A9D9D0;
  color:#0D0D0D;
}
main .menu-cleaning aside button{
  opacity: 0.7 !important;
  background-color: #A9D9D0;
  color:#0D0D0D;
}

main .menu-cleaning>div>div{
  margin-right:10px;
}
main .menu-cleaning>div>div:first-child{
  margin-left:40px;
}
main .menu-cleaning>div>div:last-child{
  margin-right:40px;
}
main .menu-cleaning:last-child{
  margin-right:0px;
}

main .menu-collecting-data aside button{
  opacity: 0.7 !important;
  background-color: #A9D9D0;
  color:#0D0D0D;
}

.menu-testing aside button fa-icon{
  // filter: invert(21%) sepia(88%) saturate(2604%) hue-rotate(165deg) brightness(90%) contrast(98%);
}

.init{
  background-color: #2d86b5;
  color: white;
  border: 10px solid rgb(0 72 112 / 20%);
  text-shadow: 2px 2px 3px rgb(13, 13, 13,0.4);
}
.init fa-icon{
  filter: drop-shadow(3px 3px 2px rgb(13, 13, 13,0.5));
}
.init label{
  font-size: 1.5vmax;
}
.init:hover{
  cursor: pointer;
}

.calibate{
  background-color: #c7ba2e;
  color: white;
  border: 10px solid rgb(138 126 0 / 20%);
  text-shadow: 2px 2px 3px rgb(13, 13, 13,0.4);
}
.calibate:hover{
  cursor: pointer;
}
.calibate label{
  font-size: 1.5vmax;
}
.calibate label:hover{
  cursor: pointer;
}
.calibate fa-icon{
  filter: drop-shadow(3px 3px 2px rgb(13, 13, 13,0.5));
}

.cleaning{
  background-color: #db803b;
  color: white;
  border: 10px solid rgb(146 64 2 / 20%);
  text-shadow: 2px 2px 3px rgb(13, 13, 13,0.4);
}
.cleaning fa-icon{
  filter: drop-shadow(3px 3px 2px rgb(13, 13, 13,0.5));
}
.cleaning:hover{
  cursor: pointer;
} 
.cleaning label{
  font-size: 1.5vmax;
}
.cleaning label:hover{
  cursor: pointer;
}

.start-process{
  background-color: #038C7F;
  color: white;
  border: 10px solid rgb(2 115 115 / 20%);
  text-shadow: 2px 2px 3px rgb(13, 13, 13,0.4);
}
.start-process span{
  height: 80%;
}
.start-process label{
  height: 20%;
}
.start-process fa-icon{
  filter: drop-shadow(3px 3px 2px rgb(13, 13, 13,0.5));
}
.start-process:hover{
  cursor: pointer;
}
.start-process label{
  font-size: 1.5vmax;
}
.start-process label:hover{
  cursor: pointer;
}

footer{
  height: 5%;
  opacity: 0.75;
  color:gray;
}

.disable{
  background-color: rgb(128, 128, 128) !important;
  border-color: rgb(73, 73, 73) !important;
  opacity: 0.3 !important;
}
.disable:hover{
  cursor: default;
}
.red{
  color:red;
}

.id-card-clickable label:hover{
  cursor: pointer;
}

.id-card-overflow{
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.modal-id-card h2{
 font-size: 2rem;
}
.modal-id-card h3{
 font-size: 1.5rem;
 color:gray;
}

:host {
  ::ng-deep{
    .p-dialog{
        border-radius: 20px !important;
        //background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .p-dialog .p-dialog-header {
        border-radius: 20px 20px 0px 0px !important;
        background-color: #F2E7DC !important;
    }  
    .p-dialog .p-dialog-header .p-dialog-header-icon{
        color:#0D0D0D !important;
    }
    .p-dialog .p-dialog-header .p-dialog-header-icon:hover{
        color:#0D0D0D !important;
        background-color: #F2E7DC !important;
        border:2px solid #0D0D0D !important;
    }
    .p-dialog .p-dialog-header label{
        color: #0D0D0D !important;
    }  
    .p-dialog .p-dialog-body,.p-dialog-content {
        margin-top: -1px;
        overflow-y: hidden;
        background-color: #F2E7DC !important;
    }  

    .p-dialog-content::-webkit-scrollbar-track {
      background-color: rgba(49, 49, 49, 0.25);
      border-radius: 100px;
      margin-top: 70px;
      margin-bottom: 100px;
    }
    .p-dialog-content::-webkit-scrollbar-thumb {
        border: 5px solid transparent;
        border-radius: 100px;
        background-color: rgba(78, 78, 78, 0.8);
        background-clip: content-box;
    }
    .p-dialog-content input{
      margin-left:1px;
    }

    .p-dialog label.loading{
      color: #0D0D0D !important;
    }
    .p-dialog .p-dialog-footer {
        margin-top: -1px;
        border-radius: 0px 0px 20px 20px !important;
        background-color: #F2E7DC !important;
    }  

    .p-dialog .p-dialog-body,.p-dialog-content .calibrate-detail {
      //min-height: 550px;
      background-color: #F2E7DC !important;
    }  
      
    .calibrate-detail h4{
      font-size: 1rem;
    }

    .id-cards{
      min-height: calc(360px);
      max-height: calc(360px);
      overflow-y: auto;
      margin-top:1rem;
    }

    .dialog-result .p-dialog{
      border: 2px solid #0D0D0D;
    }
    .dialog-result .p-dialog .p-dialog-header{
      border-radius: 20px 20px 0px 0px !important;
      background-color: #EDEDED !important;
    }  
    .p-dialog .p-dialog-header .p-dialog-header-icon:hover{
        color:#0D0D0D !important;
        background-color: #EDEDED !important;
        border:2px solid #0D0D0D !important;
    }
    .dialog-result .p-dialog .p-dialog-body,.dialog-result .p-dialog-content {
        overflow-y: hidden;
        background-color: #EDEDED !important;
    }  
    .dialog-result .p-dialog .p-dialog-footer {
        border-radius: 0px 0px 20px 20px !important;
        background-color: #EDEDED !important;
    }  
    .dialog-result h3{
      font-size: 1.1rem;
    }
    .dialog-result h4{
      font-size: 1rem;
      font-weight: 400;
      color: gray;
    }
    .dialog-result h5{
      margin-top:5px;
      font-size: 0.9rem;
      font-weight: 400;
      color: gray;
    }
  }

  .color-white{
    background-color: #EDEDED
  }

  .input-clipboard{
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #9FABBD;
  }
  .button-clipboard{
    background: #EAEAEA;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #9FABBD;

    color:#9FABBD;
  }
  .button-clipboard:hover{
    cursor: pointer;
  }
}

@media screen and (min-width: 1400px) {
  article{
    height: 560px !important;
  }

  header{
    padding-bottom: 18px;
  }
  
  .init label {
    font-size: 22px;
  }  
  .calibate label {
    font-size: 22px;
  }  
  .cleaning label {
    font-size: 22px;
  }  
  .start-process label {
    font-size: 22px;
  }
  
  main .menu-testing aside button fa-icon{
    font-size: 50px;
  }

  
}

@media screen and (max-height: 650px){
  article{
    margin-top:7vh;
  }
}