article{
  width:80vw;
  margin-top:calc(50vh - (80vh / 2));
  height: 80vh;
  padding: 2rem;
}

header{
  height: 5%;
}

main{
  height: 90%;
}

main .menu-testing{
  margin-right:10px;
}
main .menu-testing div{
  margin-right:10px;
  padding-bottom:10px;
}
main .menu-testing div:last-child{
  padding-bottom:0px;
}
main .menu-testing:last-child{
  margin-right:0px;
}

.start-process{
  background-color:lightseagreen;
  color:white;
}
.start-process span{
  height: 80%;
}
.start-process label{
  height: 20%;
}
.start-process:hover{
  cursor: pointer;
}

footer{
  height: 5%;
}