<p-chart type="line" [data]="basicData" [options]="basicOptions" width="100%" height="500px"></p-chart>

<div *ngIf="isProcess" class="card text-center justify-content-center" (click)="onClickStopCollectingData()">
    <label>
        <h1>
            STOP COLLECTING DATA
        </h1>
    </label>
</div>
<div *ngIf="!isProcess" class="card text-center justify-content-center" (click)="onClickFinishCollectingData()">
    <label>
        <h1>
            FINISH PROCESS
        </h1>
    </label>
</div>