.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

.card{
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.btn{
    width: 100%;
}

.footer-btn>.btn{
    margin: 0.25rem 0.125rem;
}