<div class="container d-flex flex-column">
    <header class="">
        <app-header-modules [title]="'Case Management'"></app-header-modules>
    </header>
    <main>
        <div class="d-flex flex-column justify-content-between">
            <article class="card">
                <header>
                    <h3></h3>
                </header>
                <main>

                </main>
            </article>
        </div>
    </main>
    <footer>
        <!-- account-setting -->
        <app-footer-modules [module]="3"></app-footer-modules>
    </footer>
</div>