.container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: none;
    padding:0px;
}

main{
    margin-top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
}

main .card{
    border-radius: 25px;
    height: calc((100vh - 120px - 60px)/1);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(217, 217, 217, 1);
    border-color: rgba(217, 217, 217, 1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    padding:15px 30px;
}
main .card:first-child{
    margin-top: 20px;
}
main .card:last-child{
    margin-bottom: 20px;
}
main .card header h3{
    font-size: 1.5rem;
}
main .card header h4{
    font-size: 1rem;
    font-weight: lighter;
}

@media (min-width: 1200px)
{
    .container{
        max-width: 1200px;
    }
}