<div class="container d-flex flex-column">
    <header class="">
        <app-header-modules [title]="'Dashboard'"></app-header-modules>
    </header>
    <main>
        <div class="d-flex flex-column justify-content-between">
            <article class="card">
                <header>
                    <h3>Sales Progress</h3>
                </header>
                <main>

                </main>
            </article>
            <article class="card">
                <header>
                    <h3>Trends</h3>
                    <h4>Lastest trend</h4>
                </header>
                <main>
                    
                </main>
            </article>
            <article class="card">
                <header>
                    <h3>Activities</h3>
                    <h4>890,344 Sales</h4>
                </header>
                <main>
                    
                </main>
            </article>
        </div>
    </main>
    <footer>
        <app-footer-modules></app-footer-modules>
    </footer>
</div>