.container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: none;
    padding:0px;
}

main{
    margin-top: 60px;
    width: 100%;
}

main .card{
    border-radius: 25px 25px 25px 25px;
    min-width:100%;
    height:calc(100vh - 95px - 85px);
    background-color: rgba(228, 255, 252, 1);
    padding:30px;
    border:0px;
}
main .card header h3{
    font-size: 1.5rem;
}
main .card header h4{
    font-size: 1rem;
    font-weight: lighter;
}

tbody, td, tfoot, th, thead, tr{
    background-color: rgba(228, 255, 252, 1) !important;
    border:0px !important;
}
td,th{
    text-align: left !important;
    border: 0px !important;
    padding: 1rem 1rem !important;
}

:host {
    ::ng-deep{
      .p-dialog{
          border-radius: 20px !important;
          //background-color: rgba(0, 0, 0, 0.5) !important;
      }
      .dialog-result .p-dialog .p-dialog-header{
        border-radius: 20px 20px 0px 0px !important;
        background-color: #EDEDED !important;
      }  
      .p-dialog .p-dialog-header .p-dialog-header-icon:hover{
          color:#0D0D0D !important;
          background-color: #EDEDED !important;
          border:2px solid #0D0D0D !important;
      }
      .dialog-result .p-dialog .p-dialog-body,.dialog-result .p-dialog-content {
        margin-top:-1px;
          overflow-y: hidden;
          background-color: #EDEDED !important;
      }  
      .dialog-result .p-dialog .p-dialog-footer {
          margin-top:-1px;
          border-radius: 0px 0px 20px 20px !important;
          background-color: #EDEDED !important;
      }  

      .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
        background: rgb(255, 255, 255,0.5);
      }

        .p-datatable-scrollable-table::-webkit-scrollbar-track {
            background-color: rgba(49, 49, 49, 0.25);
            border-radius: 100px;
            margin-top: 100px;
            margin-bottom: 40px;
        }

        .p-datatable-scrollable-table::-webkit-scrollbar-thumb {
            border: 5px solid transparent;
            border-radius: 100px;
            background-color: rgba(78, 78, 78, 0.8);
            background-clip: content-box;
        }

        .p-datatable-scrollable-table>.p-datatable-thead{
            background-color: rgba(228, 255, 252, 1) !important;
            top:-1px;
        }
        .p-datatable-header {
            border: 0px !important;
        }
        .p-datatable, .p-datatable .p-datatable-header, .p-datatable-thead, .p-datatable .p-datatable-thead > tr > th
        {
            //border: 0px solid #0D0D0D !important;
            background-color: rgba(228, 255, 252, 1) !important;
        }
        .p-datatable-thead
        {
            border-top:0px;
        }
        .p-datatable.p-datatable-gridlines .p-paginator-bottom{
            background-color: rgba(228, 255, 252, 1) !important;
            border: 0px !important;
        }

        .p-inputtext{
            border:0px;
            border-radius: 10px;    
            box-shadow: 1px 4px 5px 1px rgb(0 0 0 / 15%);
        }
    }
}

@media (min-width: 1200px)
{
    .container {
        //padding: 0px 10vw;
    }
}