<div class="container d-flex flex-column">
    <header class="">
        <nav>
            <div class="d-flex justify-content-between">
                <div>
                    <label>Logo</label>
                </div>
                <div>
                    <label>
                        <h1>
                            Dashboard
                        </h1>
                    </label>
                </div>
                <div>
                    <label>Account</label>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="d-flex flex-column justify-content-between">
            <article class="card">
                <header>
                    <h3>Sales Progress</h3>
                </header>
                <main>

                </main>
            </article>
            <article class="card">
                <header>
                    <h3>Trends</h3>
                    <h4>Lastest trend</h4>
                </header>
                <main>
                    
                </main>
            </article>
            <article class="card">
                <header>
                    <h3>Activities</h3>
                    <h4>890,344 Sales</h4>
                </header>
                <main>
                    
                </main>
            </article>
        </div>
    </main>
    <footer class="">
        <nav>
            <div class="d-flex justify-content-between">
                <div>
                    <label>
                        <h2>
                            Dashboard
                        </h2>
                    </label>
                </div>
                <div>
                    <label>
                        <h2>
                            Test Report
                        </h2>
                    </label>
                </div>
                <div>
                    <label>
                        <h2>
                            Case Management
                        </h2>
                    </label>
                </div>
                <div>
                    <label>
                        <h2>
                            Device Setting
                        </h2>
                    </label>
                </div>
                <div>
                    <label>
                        <h2>
                            Account Setting
                        </h2>
                    </label>
                </div>
            </div>
        </nav>
    </footer>
</div>