<div class="position-absolute top-5 start-50 translate-middle-x">
    <div class="card card-device">
        <div class="d-flex">
            <label>
                Device 1
            </label>
            <button type="button" class="btn btn-danger" (click)="onClickLogout()">Logout</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-between w-100 card-container">
        <div class="card card-module module-process">

        </div>
        <div class="card card-module module-dashboard">

        </div>
        <div class="card card-module module-guide">

        </div>
        <div class="card card-module module-account">

        </div>
    </div>
</div>
<app-footer></app-footer>